<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2" />
    
<link href="images/favi.png" rel="shortcut icon" />
    
<title> DROPTOP </title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="inc/common.css" rel="stylesheet" />    
<link href="inc/index.css" rel="stylesheet" />    
<link href="inc/coffee.css" rel="stylesheet" />
    
    

<script src="inc/common.js"></script>
<script src="inc/index.js"></script>
<script src="inc/coffee.js"></script>

    
</head>



<body>
   
      <div id="outBox">
            <div id="navTop"> <!--유틸리티내비-->
                <ul id="menuTop">
                    <li class="listTop"><a href="#">로그인</a></li>
                    <li class="listTop"><a href="#">회원가입</a></li>
                    <li class="listTop"><a href="#">멤버십</a></li>
                    </ul>
            </div><!--유틸리티내비-->
        
        <div id='subBack'></div>
        
        <div id="navBox"> <!--내비박스-->
            
            <div id="navInBox"> <!--1200-->
                
                <div class="logoBox">  <!--로고박스-->
                    <a href="index.html"><img src="images/logo.png" alt="logo" /></a>
                </div>  <!--로고박스-->

                <div id="view">&equiv;</div>
                
                
                <nav id="navi">
                <ul id="menu">
                    <li class="main"><a href="#">드롭탑</a>
                        <ul class="subMenu">
                            <li class="sub"><a href="droptop_story.html">드롭탑 이야기</a></li>
                            <li class="sub"><a href="droptop_story2.html">커피 이야기</a></li>
                        </ul>
                    </li>
                    <li class="main"><a href="new.html">메뉴</a>
                        <ul class="subMenu">
                            <li class="sub"><a href="new.html">신제품</a></li>
                            <li class="sub"><a href="coffee.html">커피</a></li>
                            <li class="sub"><a href="beverage.html">음료</a></li>
                            <li class="sub"><a href="food.html">푸드</a></li>
                            <li class="sub"><a href="cake.html">케이크</a></li>
                        </ul></li>
                    <li class="main"><a href="store.html">매장안내</a>
                        <ul class="subMenu">
                            <li class="sub"><a href="store.html">매장찾기</a></li>
                        </ul></li>
                    <li class="main"><a href="event.html">이벤트</a>
                        <ul class="subMenu">
                            <li class="sub"><a href="event.html">이벤트 소식</a></li>
                            <li class="sub"><a href="card.html">제휴카드</a></li>
                        </ul></li>
                    <li class="main"><a href="notice.html">커뮤니티</a>
                        <ul class="subMenu">
                            <li class="sub"><a href="notice.html">공지사항</a></li>
                            <li class="sub"><a href="article.html">보도자료</a></li>
                            <li class="sub"><a href="support.html">제작지원</a></li>
                            <li class="sub"><a href="multi.html">멀티미디어</a></li>
                            <li class="sub"><a href="customer.html">고객의 소리</a></li>
    
                        </ul>
                    </li> <li class="main"><button id="franchise2">창업안내</button></li>
                    </ul>
                    
                </nav>
                <div id="franchiseBox">
                    <button id="franchise">창업안내</button>
                </div>
            </div><!--navInBox-->
        

        </div><!--내비박스1200 유틸내비 내비 로고-->
     </div>
     
     
     
     
    
    <div id="menuContents">
        
        <div id="menuImgBox">
<!--            <img src="images/menu_bg1.jpg" id="menuImg" alt="메뉴페이지1">-->
            
            <div id="menuCaption">
                <h2 class="menuName">Coffee</h2>
                <p class="menuIntro">R&amp;D센터 커피전문가들의 925번의 블렌딩 테스트로 탄생한 걸작, 925블렌드 커피</p>
            </div>
        </div>
    </div>
        
        <div id="menuTitleBox">
            <ul id="menuTitle">
                <li class="titleList"><a href="new.html">드롭탑 스토리</a></li>
                <li class="titleList"><a href="coffee.html">드롭탑 APP</a></li>
            </ul>
        </div>
        
        
        

        <div id="menuOutBox">
        
        <div id="topMenu">
            <a href="#">홈</a>&nbsp;>&nbsp;<a href="#">메뉴</a>&nbsp;>&nbsp;<a href="coffee.html">커피</a>
        </div>
        
        </div>

     
     
       <!--foot------------------------------->
    <footer id="foot">
        <div id="footOut">
        <div class="logoBox logoBox2">  <!--로고박스-->
            <a href="index.html"><img src="images/logo.png" alt="logo" /></a>
        </div>  <!--로고박스-->
        
        <div id="footContents">
<div id="foota">
            <a href="#">회사소개 </a>| <a href="#">개인정보취급방침 </a>| <a href="#">이용약관 </a>|<a href="#"> 본/지사안내 </a>| <a href="#">채용공고 </a>| <a href="#">시공업체등록 </a>| <a href="#">사이트맵</a> <br />
    </div>
<p id="footText">서울특별시 서초구 강남대로 601 (잠원동 21-2) 8층, (주)다도글로벌/드롭탑 | T.(02)541-7800<br />
사업자등록번호 : 211-88-47165 | 대표이사 : 임문수 | 개인정보관리책임자 : 김보철 | 통신판매업번호 : 2019-서울서초-1518<br />
마케팅∙제휴 문의 mkt@cafedroptop.com<br />
Copyright ⓒ 2021 DROPTOP All Rights Reserved.</p>
        </div>
            </div>
    </footer>

     
</body>
    
</html>
